body{
  margin: 50px;
  padding: 50px;
  background: white;
  font-family: montserrat;
}

h3{
  color: #2c75ff;
}

h4{
  color: #1d1e20;
  padding-left: 25px;
}

.container .menu-icon{
	position: absolute;
	color: #2c75ff;
	font-size: 30px;
	left: 42px;
	top: 24px;
	cursor: pointer;
	z-index: 1;
}

.menu-container{
	height: 0%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 1s ease-in-out; /** Affichage du menu avec une transition vers le bas*/
}

.menu-content{
	position: relative;
	top: 25%%;
	width: 100%;
	text-align: center;
	margin-top: 150px; /**A revoir*/
}

.menu-content a{
	padding: 16px;
	text-decoration: none;
	font-size: 18px;
	color: white; /** à voir si changement de la couleur ou pas*/
	display: block;
	font-family: montserrat;
	transition: 0.3s ease-in-out; /** Affichage du menu avec une transition vers le haut*/
}

.menu-content a:hover{
	background-color: #2c75ff;
}

.menu-container .closebutton{
	position: absolute;
	top: 36px;
	right: 48px;
	font-size: 30px;
	color: #2c75ff;
	z-index: 1;
	cursor: pointer;
}

.text-container{
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.text-container:before{
  content: "";
  width: 5px;
  height: 100%;
  background: #2c75ff;
  position: absolute;
  left: 20px;
}

.content{
  padding: 20px;
  margin: 20px 60px;
  border-radius: 8px;
  position: relative;
}

.content:after{
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid #2c75ff;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: -63px;
  top: 17%;
  transform: translateY(-50%);
}

#logo{
	position: absolute;
	width: 39.51px;
	height: 30px;
	right: 42px;
	top: 24px;
}

