body{
	background: #1d1e20;
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: montserrat;
}

h1{
	color: #2c75ff;
	font-size: 70px;
}

h2{
	color: #2c75ff;
	width: 600px;
	font-size: 40px;
}

p{
	width: 600px;
	color: white;
	text-align: justify;
}

.container .menu-icon{
	position: absolute;
	color: #2c75ff;
	font-size: 30px;
	left: 42px;
	top: 24px;
	cursor: pointer;
	z-index: 1;
}

.menu-container{
	height: 0%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;/**Au premier plan par rapport au reste*/
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 1s ease-in-out; /** Affichage du menu avec une transition vers le bas*/
}

.menu-content{ /**Positionnement des éléments du menu*/
	position: relative;
	top: 25%%;
	width: 100%;
	text-align: center;
	margin-top: 150px; 
}

.menu-content a{
	padding: 16px;
	text-decoration: none;
	font-size: 18px;
	color: white; /** à voir si changement de la couleur ou pas*/
	display: block;
	font-family: montserrat;
	transition: 0.3s ease-in-out; /** Affichage du menu avec une transition vers le haut*/
}

.menu-content a:hover{
	background-color: #2c75ff;/**Filtre lorsque l'on passe la souris sur un des éléments du menu*/
}

.menu-container .closebutton{ /**Croix pour fermer le menu*/
	position: absolute;
	top: 36px;
	right: 48px;
	font-size: 30px;
	color: #2c75ff;
	z-index: 1;
	cursor: pointer;
}

.text{/**Positonnement du texte*/
	padding: 130px 600px;
}

#background{ /**Positionnement de la photo de profil*/
	position: fixed;
	top: 0;
	left: 0;
	width: auto;
	height: 620px;
	z-index: -1;
}

#linkedin{ 
	position: absolute;
	width: 50px;
	height: 50px;
	left: 150px;
	bottom: 25px;
}

#twitter{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 235px;
	bottom: 25px;
}

#logo{
	position: absolute;
	width: 39.51px;
	height: 30px;
	right: 42px;
	top: 24px;
}